body{
    background-image: url(./fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    background-color: #4158D0;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
h1{
    font-size: 50px;
    background-color: #FFFFFF;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 20%, #C850C0 46%, #FFCC70 90%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}
.inputField{
    padding: 10px;
    width: 40em;
    font-size: 20px;
    border: none;
}
.btn{
    padding: 12px;
    background: #96E5D1;
    border: none;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin-top: 60px;
}
li{
    display: flex;
    justify-content: space-between;
    background: #fff;
    font-size: 20px;
    padding: 10px;
    margin-left: 10em;
    width: 50%;
    overflow-wrap: break-word;
    border: 1px solid #4158D0;
}
.check{
    padding-right: 20px;
}
.trash{
    margin-right: 0px;
}
.crossed{
    text-decoration: line-through 2px #C850C0;
    cursor: pointer;
}
.deleted{
    display: none;
}